<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

<div>
  <p>THIS IS A FOOTER</p>
  <p>THIS IS A FOOTER</p>
  <p>THIS IS A FOOTER</p>
  <p>THIS IS A FOOTER</p>
  <p>THIS IS A FOOTER</p>
</div>
