<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>


  <div class="footer-container">
    <div class="row">
      <div class="col-sm">
        <div class="footer-page-links">
          <h6>About</h6>
          <ul>
            <li><a href="#">News</a></li>
            <li><a href="#">Our team</a></li>
            <li><a href="#">Our contributors</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Internships</a></li>
          </ul>
        </div>

      </div>
      <div class="col-sm">
        <div class="community">
          <h6>Subjects</h6>
          <ul>
            <li><a href="#">Math</a></li>
            <li><a href="#">Physics</a></li>
            <li><a href="#">Chemistry</a></li>
            <li><a href="#">Biology</a></li>
            <li><a href="#">Economics</a></li>
            <li><a href="#">Technology</a></li>
            <li><a href="#">Arts</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm">
        <div class="exploremore">
          <h6>Download our apps</h6>
          <ul class="explore-list">
            <li><a href="#">iOS app</a></li>
            <li><a href="#">Android app</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm">
        <h6>Social<br>Media</h6>
        <div id="footer-social-media">
          <a href="#"><img src="images/fb_icon.png"></a>
          <a href="#"><img src="images/twitter_icon.png"></a>
          <a href="#"><img src="images/linkedin_icon.png"></a>
        </div>
      </div>

    </div>

  </div>
  </div>
