<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>


    <!-- grab my cookie
      if no cookie then main page -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <!-- navbar brand and logo -->

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a href="#"><img  class= "brand-logo" src="images/engineer.png"></a>
      <a class="navbar-brand" href="#">InstaGeek</a>


    <% if(cookie) { %>
      <!-- Search Form on Nav -->
      <!-- If User Then Display -->
      <!-- if (not !) -->
      <form class="form-inline my-2 my-lg-0" id="main-search">
        <input  class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchfield">
         <input type="submit">
      </form>
      <!-- If user then display -->
      <!-- subjects drop down to filter by subjects -->
      <div class="dropdown">
        <button id="subjects-button" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Subjects</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a id = "dropdown-all" class="dropdown-item" href="#">All</a>
          <a data-subjects="Physics" class="dropdown-item" href="#">Physics</a>
          <a data-subjects="Chemistry" class="dropdown-item" href="#">Chemistry</a>
          <a data-subjects="Biology" class="dropdown-item" href="#">Biology</a>
          <a data-subjects="Math" class="dropdown-item" href="#">Math</a>
          <a data-subjects="Technology" class="dropdown-item" href="#">Technology</a>
          <a data-subjects="Economics" class="dropdown-item" href="#">Economics</a>
          <a data-subjects="Arts" class="dropdown-item" href="#">Arts</a>
        </div>
      </div>

  <!-- Need to put logic. If USER then display these.  -->
      <a id = "take-me-back" href="/home">Home</a>
      <a id = "my-board" data-board="" href="#">My Board</a>
      <a id = "my-profile" href="/profile">My Profile</a>
      <button id = "logout-button">Logout</button>
    </div>
    <% } %>
  </nav>
</body>
