<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
    <title>Front Page</title>
</head>

<body>
  <header>
    <% include ./partials/_header %>
  </header>

<main>

<h1>Popular this week</h1>
  <section class = "modal add-article" id="exampleModal" tabindex="-1" role="dialog">

<form class = "modal-body new-resource">
  <div class="form-group">
    <label for="exampleFormControlInput1">Resource Title</label>
    <input type="title" class="form-control" id="exampleFormControlInput1">
  </div>

  <div class="form-group">
  <label for="example-url-input">URL</label>
  <div>
    <input class="form-control" type="url" value="https://" id="example-url-input">
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Subject</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Math</option>
      <option>Physics</option>
      <option>Chemistry</option>
      <option>Biology</option>
      <option>Technology </option>
      <option>Economics & Finance </option>
      <option>Arts</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <input type="submit" value="Submit" />
</form>

  </section>



  <section class = "article-container">

<div class = "row">
  <div class = "col-sm">
<div class="card" style="width: 28rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1496935127680-16e7e9e5eba3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a2ece95cddc5ac4a95a1e9b8fbbe6a61&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
  <div class="card-body">
    <h3>Article Title</h3>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
 <footer class = "card-footer">
<div>
<p class="date">date created</p>
</div>
<div class="icons">
<i class="fas fa-heart"></i>
   <div class="rating">
   <i class="far fa-star"></i>
   <i class="far fa-star"></i>
   <i class="far fa-star"></i>
   <i class="far fa-star"></i>
   <i class="far fa-star"></i>
<p>Rating:</p>
 </div>
  </div>


 </footer>
</div>
</div>

<div class = "col-sm">
<div class="card" style="width: 28rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6c18d87b91cee85cbe63912304dba923&auto=format&fit=crop&w=1350&q=80" alt="Card image cap">
  <div class="card-body">
    <h3>Article Title</h3>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
 <footer class = "card-footer">
<div>
<p class="date">date created</p>
</div>
<div class="icons">
<i class="fas fa-heart"></i>
 <div class="rating">
   <i class="far fa-star"></i>
   <i class="far fa-star"></i>
   <i class="far fa-star"></i>
   <i class="far fa-star"></i>
   <i class="far fa-star"></i>
<p>Rating:</p>
 </div>
  </div>
 </footer>
</div>
</div>

<div class = "col-sm">
<div class="card" style="width: 28rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1496935127680-16e7e9e5eba3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a2ece95cddc5ac4a95a1e9b8fbbe6a61&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
  <div class="card-body">
    <h3>Article Title</h3>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
 <footer class = "card-footer">
<div>
<p class="date">date created</p>
</div>
<div class="icons">
<i class="fas fa-heart"></i>
 <div class="rating">
   <i class="far fa-star"></i>
   <i class="far fa-star"></i>
   <i class="far fa-star"></i>
   <i class="far fa-star"></i>
   <i class="far fa-star"></i>
<p>Rating:</p>
 </div>
  </div>
 </footer>
</div>
</div>

<div class = "col-sm">
<div class="card" style="width: 28rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1483519173755-be893fab1f46?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b52bb4cb010e2c9442083c0730d6bc49&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
  <div class="card-body">
    <h3>Article Title</h3>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
 <footer class = "card-footer">
<div>
<p class="date">Date created:</p>
</div>
<div class="icons">
<i class="fas fa-heart"></i>
   <div class="rating">
   <i class="far fa-star"></i>
   <i class="far fa-star"></i>
   <i class="far fa-star"></i>
   <i class="far fa-star"></i>
   <i class="far fa-star"></i>
   </div>
<p>Rating:</p>
 </div>

 </div>
 </footer>
</div>
</div>

</div>


  </section>




</main>

  <footer>
    <% include ./partials/_footer %>
  </footer>
</body>

</html>
