<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
    <title>Explore</title>
    <script>
      $.get('/all', articles => {
        renderArticles(articles);
      });
    </script>
</head>

<body>
  <header>
    <% include ./partials/_header %>
  </header>

<main>
<!-- Heading of board  -->
<h1 id = "board-heading">Explore</h1>

 <!-- Button that pops up a modal to add new article -->
  <button id="add-article" data-toggle="modal" data-target="#exampleModal"> <i class="fas fa-edit"></i>Add Article</button>
  <section class = "modal add-article" id="exampleModal" tabindex="-1" role="dialog">
<form class="modal-body new-resource" id ="new-article-modal">
  <div class="form-group">
  <label for="example-url-input">URL</label>
  <div>
    <input class="form-control" type="url" value="" id="example-url-input" name="new_url" placeholder="https://">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Subject</label>
    <select class="form-control" id="exampleFormControlSelect1" name="new_subject">
      <option value="Math">Math</option>
      <option value="Physics">Physics</option>
      <option value="Chemistry">Chemistry</option>
      <option value="Biology">Biology</option>
      <option value="Technology">Technology </option>
      <option value="Economics">Economics</option>
      <option value="Arts">Arts</option>
    </select>
  </div>
 <input type="submit" name="">
</form>

  </section>




<!-- Articles populated by Jquery -->
  <section class = "article-container">

  </section>


</main>

  <footer>
    <% include ./partials/_footer %>
  </footer>
</body>

</html>
