<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
    <title>Front Page</title>
    <script>
      $.get('/all', articles => {
        renderArticles(articles);
      });
    </script>
</head>

<body>
  <header>
    <% include ./partials/_header %>
  </header>

<main>

<h1 id = "main-board">Popular this week</h1>
  <button id="add-article" data-toggle="modal" data-target="#exampleModal"> <i class="fas fa-edit"></i>Add Article</button>

  <section class = "modal add-article" id="exampleModal" tabindex="-1" role="dialog">
<form class = "modal-body new-resource" id ="new-article-modal">


  <div class="form-group">
  <label for="example-url-input">URL</label>
  <div>
    <input class="form-control" type="url" value="https://" id="example-url-input" name="new_url">
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Subject</label>
    <select class="form-control" id="exampleFormControlSelect1" name="new_subject">
      <option>Math</option>
      <option>Physics</option>
      <option>Chemistry</option>
      <option>Biology</option>
      <option>Technology </option>
      <option>Economics</option>
      <option>Arts</option>
    </select>
  </div>

  <input type="submit" value="Submit"  />

</form>

  </section>





<!-- Articles populated by Jquery -->
  <section class = "article-container">


  </section>


</main>

  <footer>
    <% include ./partials/_footer %>
  </footer>
</body>

</html>
