<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
    <title>Your Profile</title>
</head>

<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <h1><%= `${user}` %>'s Profile</h1>

  <form class="user-info" action="/profile/update" method="POST">
      <label>Username:</label>
      <input type="text" value="<%= `${user}` %>" name="updateUser">
    </div>
    <div>
      <label>Password:</label>
      <input type="password" value="<%= `${password}` %>" placeholder="************" name="updatePass">
    </div>
    <div>
      <label>Email:</label>
      <input type="email" value="<%= `${email}` %>" name="updateEmail">
    </div>
    <div>
      <label>Avatar:</label>
      <img src="images/atom.png">
      <button type= >New Photo</button> <!-- needs to do things -->
    </div>
    <button type="Submit">Update</button>
  </form>






  <footer>
    <% include ./partials/_footer %>
  </footer>
</body>

</html>
