<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
    <title>Front Page</title>
</head>

<body>
  <header>
    <% include ./partials/_header %>
  </header>
 <<h1>userName Profile</h1>



  <footer>
    <% include ./partials/_footer %>
  </footer>
</body>

</html>
