<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
    <title>Your Profile</title>
</head>

<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <h1><%= `${user}` %>'s Profile</h1>

  <div class="user-info">
    <div>
      <label>Username:</label>
      <label><%= `${user}` %></label>

    </div>
    <div>
      <label>Password:</label>
      <label>********</label>
    </div>
    <div>
      <label>Email:</label>
      <label><%= `${email}` %></label>
    </div>
    <div>
      <label>Avatar:</label>
      <img src="images/atom.png">
      <!-- an image! -->

    </div>
  </div>






  <footer>
    <% include ./partials/_footer %>
  </footer>
</body>

</html>
