
  * {
     font-family:Raleway;
}


button {

     border-radius:6px;
     background-color:#4682B4;
     width:110px;
     height:50px;
     font-size:15px;
     margin-top:20px;
     color:#00a087;
     opacity:0.9;
     color:white;
}
button:hover {
     opacity:1;
     cursor:pointer;
}

#add-article {

  margin-left:40px;
  width:250px;
  height:80px;
}

#main-board {
  padding-left:40px;
  margin-top:20px;
  margin-bottom:20px;
}


 #new-article-modal {
     margin-top:30px;
    background-color: rgba(160, 160, 160, 0.95);
     display: block;
     position: absolute;
     left: 30%;
     height: 300px;
   width: 40%;
     overflow-y:auto;
     overflow-x:auto;
     border-radius: 0px;
   padding-left:20px;
 }


.article-container {
  margin-left:40px;
  margin-right:40px;
  margin-bottom:30px;
  margin-top:30px;

}

.card {

margin-top:20px;
margin-bottom:20px;
  img {
    height:350px;
  }
  footer{
  height:130px;

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.fa-heart.liked {
     color: red;
}

.fa-star.rated {
     color: yellow;
}
  .icons {
    float:right;

  }
}

}

.article-modal-1 {
  background-color: rgba(255, 255, 255, 0.95);
    height: 1100px;
   width: 1700px;
  left: 20%;
  margin-top:90px;
}

.modal-right {
  float:right;
}

.modal-image {
 width:900px;
 height:100%
 }

#commentSubmit {
  width:600px;
}
