@import "colours";

  * {
     font-family:$fontFamily;
 }


button {
     border-radius:6px;
     background-color:#4682B4;
     width:110px;
     height:50px;
     font-size:15px;
     margin-top:20px;
     color:#00a087;
     opacity:0.9;
     color:white;
}

button:hover {
     opacity:1;
     cursor:pointer;
}

//  Board heading
#board-heading {
  padding-left:40px;
  margin-top:20px;
  margin-bottom:20px;
}

// Styles on add article button
#add-article {
  margin-left:40px;
  width:250px;
  height:80px;
}

// Styles modal when add article button clicked
 #new-article-modal {
     margin-top:30px;
    background-color: rgba(160, 160, 160, 0.95);
     display: block;
     position: absolute;
     left: 30%;
     height: 300px;
   width: 40%;
     overflow-y:auto;
     overflow-x:auto;
     border-radius: 0px;
   padding-left:20px;
 }

// Container where all the articles will be populated
.article-container {
  margin-left:40px;
  margin-right:40px;
  margin-bottom:30px;
  margin-top:30px;

}

// Styles the articles being added as a card
.card {
margin-top:20px;
margin-bottom:20px;
  img {
    height:350px;
  }

//Footer of article card
footer {
  height:130px;

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.fa-heart {
  color:gray;
}

.fa-star.rated {
     color: yellow;
}
  .icons {
    float:right;

  }
}
}

// Modal when comment button on card article clicked
.article-modal-1 {
     background-color: rgba(255, 255, 255, 0.95);
     height: 1100px;
     width: 1700px;
     left: 20%;
     margin-top:90px;
}
 .modal-title {
     font-size:40px;
     weight:bold;
}
 .modal-right {
     float:right;
}
 .modal-image {
     width:900px;
     height:100%
}
 .modal-title {
     font-size:40px;
     weight:bold;
}
 .modal-description {
     font-size:20px;
}
 // Comments on modal populated by jquery
 //Form for submitting comment

 #commentSubmit {
     width:700px;
     height:100px;
     padding-top:12px;
     padding-left:12px;
     padding-right:12px;
     padding-bottom:12px;
}
 // Comment Box for old comments

.comments-container {
  overflow: scroll;
  height:600px;
}

.posted-comment {
     border: 1px solid rgba(192, 192, 192, 0.6);
     margin-top: 20px;
     padding-left:12px;
     padding-right:12px;
     padding-top:12px;
     padding-bottom:12px;
}
 .posted-comment-body {
     color:black;
     font-size: 20px;
}



.posted-by-comment {
  font-size:30px;
  weight:bold;
}
