nav {
     .navbar-brand {
         font-family: Indie Flower, cursive;
         font-size: 60px;
         margin-left:10px;
         margin-right:150px;
    }

    .brand-logo {
      margin-left:20px;
    }

#main-search {
  width:500px;
}

form {
  margin-left:130px;
}


}




