  #profile-heading {
  margin-top: 10px;
  margin-left: 40px;
  font-family: Raleway;
  text-align:center;
  text-transform:uppercase;
  margin-top:40px;
}

form.user-info {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 10px;
  background-color: #f8f9fa;

  margin: auto;
  width: 500px;
  border: 1px solid black;
  margin-bottom: 75px;
  padding-left: 20px;
  padding-bottom: 25px;
  padding-top: 20px;
  padding-right: 20px;

  input {
    width: 200px;
    margin: auto;
    display: inline-block;
  }
}

